/*NEW*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Arial.woff") format("woff"),
    url("../fonts/Arial.woff2") format("woff2");
}

body {
  font-family: "Arial";
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/**** THANKS-PAGE ****/
<<<<<<< HEAD
.thanks__section {
=======
<<<<<<< HEAD
.gratitude {
  background-color: #f7fdff;
}

.gratitude__section {
=======
.thanks__section {
>>>>>>> main
>>>>>>> main
  height: 100vh;
  background-color: #ecf0ef;
}

.thanks__container {
  max-width: 800px;
  padding: 75px 30px 0;
  gap: 20px;
}

.thanks__title {
  font-size: 4rem;
  line-height: 50px;
}

.thanks__content {
  gap: 20px;
  align-items: flex-start;
}

.thanks p {
  font-size: 1.3rem;
  font-weight: 500;
}

<<<<<<< HEAD
/**** DOCUMENT ****/
.info__container {
  padding: 130px 40px 140px;
=======
<<<<<<< HEAD
.gratitude span {
  color: #16a571;
}

/**** DOCUMENT ****/
.information {
  background-color: #f7fdff;
}

.information__container {
=======
/**** DOCUMENT ****/
.document__container {
>>>>>>> main
  padding: 150px 40px 40px;
>>>>>>> main
  max-width: 800px;
  margin: 0 auto;
  gap: 20px;
}

<<<<<<< HEAD
.info h1 {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 5px;
  position: relative;
}

.info ol {
  gap: 10px;
}

.info li {
=======
.information h1 {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 5px;
<<<<<<< HEAD
  color: #101010;
}

.information ol {
=======
  border-bottom: 5px solid #e3655b;
}

.document ol {
>>>>>>> main
  gap: 25px;
}

.information li {
>>>>>>> main
  padding: 0 0 5px 0;
  align-self: flex-start;
  color: #333;
  font-size: 20px;
  line-height: 160%;
}

<<<<<<< HEAD
.info strong {
=======
.information strong {
>>>>>>> main
  font-weight: 600;
  font-size: 1.3rem;
}

<<<<<<< HEAD
.info a {
  color: blue;
  border-bottom: 1px solid blue;
  text-decoration: none;
}

/* SECTION_FORM*/

.checkbox {
  padding: 20px 0 0 0;
  gap: 10px;
  justify-content: flex-start;
}

.checkbox a {
  text-decoration: none;
}

.checkbox span {
  gap: 5px;
=======
<<<<<<< HEAD
.information a {
  color: #16a571;
  border-bottom: 1px solid #16a571;
=======
.document a {
  color: #e3655b;
  border-bottom: 1px solid #e3655b;
>>>>>>> main
>>>>>>> main
}

/**** HEADER ****/
.header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 997;
  max-height: fit-content;
  width: 100%;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
  background-color: white;
  border-bottom: 1px solid white;
>>>>>>> main
>>>>>>> main
}

.header__container {
  height: 100%;
}

.header-top {
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  padding: 10px;
<<<<<<< HEAD
  background-color: #072622;
=======
  background-color: #164343;
>>>>>>> main
  border-bottom: 1px solid #a9a9a9;
}

.header-bottom {
  width: 100%;
  height: 60%;
<<<<<<< HEAD
  background-color: #072622;
=======
  background-color: #164343;
>>>>>>> main
}

.header-bottom__container {
  justify-content: space-between;
}

.header-top__container {
  justify-content: flex-start;
  width: 100%;
}

.header__block-menu {
  gap: 20px;
}

.header__block-item {
  gap: 6px;
}

.header__block-item a {
  color: rgb(222, 222, 222);
}

.header__block-item a:hover {
  color: white;
}

.header__block-item img {
  width: 20px;
  height: 20px;
}

/*HEADER_MAIN*/

.header__logo {
  width: 100px;
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 0;
  padding: 15px 0;
  background-color: inherit;
}

.header__logo:hover {
  transform: scale(1.1);
}

.header__logo p {
  font-size: 1.5rem;
  font-weight: 700;
}

.header__logo img {
  width: 100%;
}

.header__phone {
  gap: 20px;
}

.header__phone img {
  width: 40px;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
.header__info {
  gap: 20px;
}

.header__info p {
  display: none;
}

.header__info img {
  width: 30px;
  height: 30px;
}

.header__info img:hover {
  transform: scale(1.2);
}

>>>>>>> main
>>>>>>> main
.nav {
  display: flex;
  align-items: center;
  gap: 20px;
  transform: translateX(0);
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.menu__link {
  display: block;
  position: relative;
  transition: 0.2s ease;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> main
  color: rgb(222, 222, 222);
}

.menu__link:hover {
  color: white;
<<<<<<< HEAD
=======
=======
  color: black;
}

.menu__link:hover {
  color: #e3655b;
}

.header__btn {
  padding: 10px 16px;
  border: 1px solid #e3655b;
  background-color: inherit;
  color: #e3655b;
  transition: 0.4s;
  border-radius: 4px;
}

.header__btn:hover {
  background-color: #e3655b;
  color: white;
}

@media (max-width: 930px) {
  .header__block-menu {
    flex-direction: column;
    align-items: flex-start;
  }
>>>>>>> main
>>>>>>> main
}

/**** BURGER ****/

.burger__btn {
  display: none;
  cursor: pointer;
  position: relative;
  align-items: center;
  height: 28px;
}

.burger__btn:hover {
  transform: scale(1.1);
}

.burger__btn span {
  display: inline-block;
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> main
  width: 28px;
  height: 3px;
  border-radius: 4px;
  background-color: rgb(222, 222, 222);
<<<<<<< HEAD
=======
=======
  width: 34px;
  height: 3px;
  border-radius: 4px;
  background-color: #e3655b;
>>>>>>> main
>>>>>>> main
  transition: 0.4s ease;
}

.burger__btn::before,
.burger__btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 34px;
  height: 3px;
  border-radius: 4px;
<<<<<<< HEAD
  background-color: rgb(222, 222, 222);
=======
<<<<<<< HEAD
  background-color: rgb(222, 222, 222);
=======
  background-color: #e3655b;
>>>>>>> main
>>>>>>> main
  transition: 0.3s ease;
}

.burger__btn::before {
  top: 0;
}

.burger__btn::after {
  bottom: 0;
}

.active span {
  transform: scale(0);
}

.active::before {
  transform: rotate(-45deg);
  top: 14px;
  background-color: white;
}

.active::after {
  transform: rotate(45deg);
  bottom: 10px;
  background-color: white;
}

<<<<<<< HEAD
@media (max-width: 720px) {
  .header-top {
    display: none;
  }

=======
<<<<<<< HEAD
@media (max-width: 760px) {
  .header-top {
    display: none;
  }

=======
@media (max-width: 740px) {
  .header__info {
    display: none;
  }
>>>>>>> main
>>>>>>> main
  .burger__btn {
    display: flex;
  }

  .nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
<<<<<<< HEAD
    top: 0;
    right: -100px;
=======
<<<<<<< HEAD
    top: 0;
    right: -100px;
=======
    width: 100%;
>>>>>>> main
>>>>>>> main
    padding: 100px 70px;
    transition: right 0.3s ease;
    opacity: 0;
    display: none;
    transition: 0.5s;
  }

  .menu__link {
    color: rgb(222, 222, 222);
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: none;
    text-decoration: none;
    color: white;
  }

  .menu__link:hover {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> main
    color: white;
    border-bottom: none;
=======
    color: yellow;
>>>>>>> main
  }

  .nav.active {
    position: absolute;
    top: 0;
    right: 0;
<<<<<<< HEAD
    width: 320px;
    height: 100vh;
=======
<<<<<<< HEAD
    width: 320px;
    height: 100vh;
=======
    transform: translate(-100%, 0);
    width: fit-content;
    min-width: 280px;
>>>>>>> main
>>>>>>> main
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
<<<<<<< HEAD
    background-color: #072622;
    opacity: 1;
    animation: slideIn 0.5s ease-in-out;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
=======
<<<<<<< HEAD
    background-color: #164343;
    opacity: 1;
    animation: slideIn 0.5s ease-in-out;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
=======
    background-color: #e3655b;
    opacity: 0.2;
    transform: translateX(0);
    opacity: 1;
    font-size: 1.1rem;
    border-radius: 4px;
    height: 100vh;
>>>>>>> main
>>>>>>> main
  }
}

@media (max-width: 540px) {
  .header__phone {
    display: none;
  }
}

<<<<<<< HEAD
.header__block-item p {
  display: none;
}
=======
<<<<<<< HEAD
.header__block-item p {
  display: none;
}

=======
>>>>>>> main
/* SECTION_FORM*/

.checkbox {
  padding: 20px 0;
  gap: 10px;
  justify-content: flex-start;
}

.checkbox span {
<<<<<<< HEAD
  color: #383838;
}

.checkbox a {
  color: #383838;
  border-bottom: 1px solid #383838;
=======
  color: black;
}

.checkbox a {
  color: black;
  border-bottom: 1px solid black;
>>>>>>> main
}

.checkbox span {
  gap: 5px;
}
>>>>>>> main
