.about__container {
  padding: 50px 20px;
  gap: 20px;
}

.about__item {
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
}

.about__item h2 {
  font-size: 2rem;
  color: black;
}

.about__item h3 {
  font-size: 1.5rem;
  font-style: italic;
  color: black;
}

.about__item span {
  color: var(--color-button);
}

.about__item p {
  color: var(--color-gray);
  font-size: 1.2rem;
}
